@import url(https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,500;1,300&display=swap);

$border: 2px solid rgba(128, 128, 128, 0.471);
$border-black: 2px solid rgba(57, 55, 55, 0.471);

.mainContainer2 {
    background: url(https://pro2-bar-s3-cdn-cf4.myportfolio.com/8105b0216effaf1066ae8d87a1536b88/5a7ae0f9-9f40-4332-925f-e5b91a25e3f6_rw_1920.gif?h=f6f2bdc60cd4660058861208c3c26f13) 50% center;
    // background-color: lightblue;
    height: 85vh;
    width: 90vw;
    margin: 0 auto;
} 

#main-footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    text-align: center;
    color: white;
    
    h6 {
      color: white;  
      margin: 20px auto;
      line-height: 0.4em;
      font-style: italic;
    }
}

@media screen and (min-width: 1605px){
    .mainContainer2 {
        height: 88.2vh;
    }
}