@import url(https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,500;1,300&display=swap);

$border: 2px solid rgba(128, 128, 128, 0.471);
$border-black: 2px solid rgba(57, 55, 55, 0.471);

.mainContainer2 {
    background: url(../../assets/Homepage/buildStuff.gif) 50% center;
    height: 85vh;
    width: 90vw;
    margin: 0 auto;
} 

#main-footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    text-align: center;
    color: white;
    
    h6 {
      color: white;  
      margin: 20px auto;
      line-height: 0.4em;
      font-style: italic;
    }
}

@media screen and (min-width: 1605px){
    .mainContainer2 {
        height: 88.2vh;
    }
}