
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Sriracha&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Exo:ital@1&family=Playfair+Display:ital@1&family=Sriracha&display=swap);

$border: 2px solid rgba(128, 128, 128, 0.471);
$border-black: 2px solid rgba(57, 55, 55, 0.471);

.container1 {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-between;
    width: 90vw;
    gap: 2%;
    margin: 0 auto;
    
    
    .leftContainer {
        width: 100%;
        // display: flex;
        // padding: 40px;
        // text-align: center;

        p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px;
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-size: 1rem;
            color: white;
        }
    }

    .rightContainer {
        width: 100%;
        margin: 10px auto;
    }
}
.infos {
    display: flex;
    flex-flow: row;
    // position: fixed;
    justify-content: space-between;
    // border:$border;
    width: 100%;
    height: 21vh;
    padding: 1%;
    font-family: 'Sriracha', cursive;
    background-color: whitesmoke;
    margin: 8px;

    &:hover {
        box-shadow: 0px 0px 28px 8px rgba(135, 152, 160, 1);
    }

    img {
        border-radius: 50%;
        vertical-align: middle;
    }

    article {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        width: 60%;
        height: 100;

        p {
            font-size: 1em;
            line-height: normal;
            font-family: 'Exo', sans-serif;
            color: black;
        }
    }

}

#chapter-text {
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

#modal-chapter-titles {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ul {
        display: block;
        margin-block-start: 100em;
        margin-block-end: 100em;
        margin-inline-start: 100px;
        margin-inline-end: 100px;
        padding-inline-start: 400px;
        
    }

    li {
        font-size: 24px;
        line-height: 1.8em;
        font-weight: 100;
        text-decoration: none;
        list-style-type: none;
        color: white;
        cursor: pointer;  
        display: list-item;
        font-family: 'Playfair Display', serif;
    }
}

.chapter-highlighted {
    color: white !important;
    
}

#daler-block {
    position: fixed;
    top: 185px;
    left: 50px;
    width: 30%;
}

#aleh-block {
    position: fixed;
    top: 185px;
    right: 5px;
    left: 10px;
    width: 30%;
}

#aparna-block {
    position: fixed;
    top: 185px;
    left: 950px;
    width: 30%;
}

@media screen and (min-width: 1605px){
    img{
        width: 170px;
        height: 170px;
    }
    .infos{
        width: 100%;
    }
    #daler-block {
        position: fixed;
        top: 220px;
        left: 50px;
        width: 30%;
    }
    
    #aleh-block {
        position: fixed;
        top: 220px;
        right: 5px;
        left: 10px;
        width: 30%;
    }
    
    #aparna-block {
        position: fixed;
        top: 220px;
        left: 1280px;
        width: 30%;
    }
}
