.container-all-jobs {
    text-align: start;
    width: 60%;
    margin: auto;
    padding-top: 5px;
    background-color: rgba(242, 241, 243, 0.87);
    padding-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.623) 6px 6px 10px;
    transition: transform .2s;
}

#container-company-url {
    color: blue;
    text-decoration: none;
}

.container-all-jobs > p {
    padding: -0.1px 0;
}

.container-all-jobs:hover {
    transform: scale(1.01);
}