.news-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    padding: 0 30px;
    transition: transform .2s;
}

.news-grid-container-child:hover {
    box-shadow: 2px 3px 25px black;
}

.news-image {
    max-width: 100%;
    min-height: 50%;
}

.news-grid-container-child {
    border: 1px black solid;
    padding: 2px;
    text-align: center;
    box-shadow: 4px 5px 9px black;
    overflow: auto;
}

#news-anchor > a {
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
}

#news-anchor {
    padding-bottom: 10px;
}

#source-date {
    text-align: justify;
    line-height: 0.3em;
    padding-top: 5px;
}

#headline-h1 {
    text-align: center;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

